@************************************************************************************************************************************************
    Written by Sanchita on 13/01/2025 for Modern Retail - Current Stock module
 *************************************************************************************************************************************************@

@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridStockProductEntryList";
    settings.CallbackRouteValues = new { Action = "GetProductEntryList", Controller = "CurrentStock" };
    settings.KeyFieldName = "Guids";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Settings.VerticalScrollBarMode = DevExpress.Web.ScrollBarMode.Auto;
    // settings.SettingsEditing.BatchEditSettings.ShowConfirmOnLosingChanges = false;
    settings.SettingsBehavior.AllowSort = false;

    //settings.SettingsEditing.BatchEditSettings.EditMode = DevExpress.Web.GridViewBatchEditMode.Cell;
    //settings.SettingsEditing.BatchEditSettings.StartEditAction = DevExpress.Web.GridViewBatchStartEditAction.Click;
    settings.SettingsEditing.NewItemRowPosition = DevExpress.Web.GridViewNewItemRowPosition.Bottom;
    settings.Settings.HorizontalScrollBarMode = DevExpress.Web.ScrollBarMode.Auto;
    settings.SettingsBehavior.ColumnResizeMode = DevExpress.Web.ColumnResizeMode.Control;
    settings.SettingsPager.PageSizeItemSettings.Visible = false;
    settings.SettingsPager.PageSize = 100000;


    settings.Columns.Add(x =>
    {
        x.FieldName = "SlNO";
        x.Caption = "Sl#";
        x.Width = System.Web.UI.WebControls.Unit.Percentage(7);
        x.ReadOnly = true;
        // x.Index = 1;
    });


    settings.Columns.Add(x =>
    {
        x.FieldName = "ProductName";
        x.Caption = "Product Name";
        x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "Quantity";
        x.Caption = "Quantity";
        x.Width = System.Web.UI.WebControls.Unit.Percentage(15);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        x.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.True;
        (x.PropertiesEdit as DevExpress.Web.TextBoxProperties).MaskSettings.Mask = "<0..999999999>.<00..99>";
        DevExpress.Web.TextBoxProperties txtEditProperties = x.PropertiesEdit as DevExpress.Web.TextBoxProperties;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.EditCellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        (x.PropertiesEdit as DevExpress.Web.TextBoxProperties).Style.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
    });


    settings.Columns.Add(x =>
    {
        x.FieldName = "UOMName";
        x.Caption = "UOM Name";
        x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;

    });


    settings.Columns.Add(x =>
    {
        x.FieldName = "MfgDateText";
        x.Caption = "Mfg. Date";
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        x.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        x.Width = System.Web.UI.WebControls.Unit.Percentage(15);

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "ExpDateText";
        x.Caption = "Exp. Date";
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        x.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        x.Width = System.Web.UI.WebControls.Unit.Percentage(15);

    });

    settings.Columns.Add(x =>
    {
        x.Caption = "Action";
        //x.VisibleIndex = 16;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(15);
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;

        x.SetDataItemTemplateContent(c =>
        {
            string EnqRights = "";

            EnqRights = EnqRights + "<a style='cursor:pointer;' onclick=\"EditLevelData('" + Convert.ToString(DataBinder.Eval(c.DataItem, "Guids")) + "')\"><span class='ico editColor' ><img src=\"../../../assests/images/edit.svg\" /></span><span class='hidden-xs'></span> </a>";

            EnqRights = EnqRights + "<a style='cursor:pointer;' onclick=\"DeleteLevelData('" + Convert.ToString(DataBinder.Eval(c.DataItem, "Guids")) + "')\"><span class='ico deleteColor'><img src=\"../../../assests/images/delete.svg\" /></span><span class='hidden-xs'></span></a>";

            ViewContext.Writer.Write(EnqRights);
        });
    });


}).Bind(Model).GetHtml()



