@*====================================================== Revision History ==========================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@

@*====================================================== Revision History ==========================================================*@

@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridList";
    settings.KeyFieldName = "ID";
    settings.CallbackRouteValues = new { Action = "PartialGridList", Controller = "ProductRates" };
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    settings.SettingsContextMenu.FooterMenuItemVisibility.SummaryCount = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    settings.SettingsContextMenu.EnableColumnMenu = DefaultBoolean.True;
    settings.Settings.ShowFooter = true;
    settings.SettingsContextMenu.EnableFooterMenu = DefaultBoolean.True;
    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "30", "40", "50" };
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSize = 10;
    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Bottom;
    settings.Settings.ShowFilterRowMenu = true;
    settings.ClientSideEvents.BeginCallback = "OnStartCallback";
    //Rev Pallab: grid modification
    settings.ClientSideEvents.EndCallback = "OnEndCallback";
    //Rev End Pallab: grid modification
    settings.Columns.Add(x =>
    {
        x.FieldName = "BRANCH";
        x.Caption = "Branch";
        x.VisibleIndex = 1;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(100);

    });
    settings.Columns.Add(x =>
    {
        x.FieldName = "EMP_NAME";
        x.Caption = "Employee";
        x.VisibleIndex = 2;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(250);

    });
    settings.Columns.Add(x =>
    {
        x.FieldName = "PRODUCT_CODE";
        x.Caption = "Item Code";
        x.VisibleIndex = 3;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(250);

    });
    settings.Columns.Add(x =>
    {
        x.FieldName = "PRODUCT_NAME";
        x.Caption = "Item Name";
        x.VisibleIndex = 4;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

    });
    settings.Columns.Add(x =>
    {
        x.FieldName = "STORE_RATE";
        x.Caption = "Special Price";
        x.VisibleIndex = 5;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(100);

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "CreateUser";
        x.Caption = "Created By";
        x.VisibleIndex = 9;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(100);
    });
    settings.Columns.Add(x =>
    {
        x.FieldName = "CreateDate";
        x.Caption = "Created On";
        x.VisibleIndex = 10;
        x.Width = 120;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(100);
        x.ColumnType = MVCxGridViewColumnType.DateEdit;
        x.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        (x.PropertiesEdit as DateEditProperties).EditFormatString = "dd-MM-yyyy";

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "ModifyUser";
        x.Caption = "Updated By";
        x.VisibleIndex = 11;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(100);
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "ModifyDate";
        x.Caption = "Updated On";
        x.VisibleIndex = 12;
        x.Width = 120;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(100);
        x.ColumnType = MVCxGridViewColumnType.DateEdit;
        x.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        (x.PropertiesEdit as DateEditProperties).EditFormatString = "dd-MM-yyyy";

    });


    settings.Columns.Add(x =>
    {
        x.Caption = "Action";
        x.VisibleIndex = 13;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.HeaderStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Middle;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(0);
        //x.SetDataItemTemplateContent(c =>
        //{
        //    if (ViewBag.CanEdit)
        //    {
        //        ViewContext.Writer.Write("<a style='cursor:pointer' class='pad tooltip-container' onclick=\"EditClick('" + Convert.ToString(DataBinder.Eval(c.DataItem, "ID")) + "')\"><img src='/assests/images/Edit.png' style='margin-right:3px' /><div class=\"tooltip\">Edit</div></a>");
        //    }
        //    if (ViewBag.CanDelete)
        //    {
        //        ViewContext.Writer.Write("<a style='cursor:pointer' class='pad tooltip-container' onclick=\"DeleteClick('" + Convert.ToString(DataBinder.Eval(c.DataItem, "ID")) + "')\"><img src='/assests/images/Delete.png'/><div class=\"tooltip\">Delete</div></a>");

        //    }
        //});

        x.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write("<div class='action-buttons' style=' position: absolute;'>");
            //if (ViewBag.CanEdit)
            //{
            ViewContext.Writer.Write("<a style='cursor:pointer' class='pad tooltip-container' onclick=\"EditClick('" + Convert.ToString(DataBinder.Eval(c.DataItem, "ID")) + "')\"><img src='/assests/images/edit.svg' style='margin-right:3px' /><div class=\"tooltip\">Edit</div></a>");
            //}
            //    if (ViewBag.CanDelete)
            //{
            ViewContext.Writer.Write("<a style='cursor:pointer' class='pad tooltip-container' onclick=\"DeleteClick('" + Convert.ToString(DataBinder.Eval(c.DataItem, "ID")) + "')\"><img src='/assests/images/delete.svg'/><div class=\"tooltip\">Delete</div></a>");

            //}
            ViewContext.Writer.Write("</div>");
        });

    });
    //Rev Pallab: grid modification
    settings.ClientSideEvents.RowClick = "gridRowclick";
    //Rev End Pallab: grid modification

}).Bind(Model).GetHtml()








