


@Html.DevExpress().GridLookup(
    settings =>
    {
        settings.Properties.Caption = "";
        settings.Properties.CaptionCellStyle.CssClass = "hide";
        settings.Name = "PartialChildGridLookup";
        settings.KeyFieldName = "USER_ID";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

        settings.Properties.ClientInstanceName = "PartialChildGridLookup";
        settings.GridViewClientSideEvents.SelectionChanged = "PartialChildSelectionChanged";
        settings.Properties.ClientSideEvents.ValueChanged = "PartialChildSelectionChanged";
        settings.GridViewClientSideEvents.BeginCallback = "PartialChildStartCallback";
        settings.CommandColumn.Width = System.Web.UI.WebControls.Unit.Percentage(15);
        settings.GridViewProperties.SettingsPager.PageSize = 10;
        settings.GridViewProperties.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50", "100" };
        settings.GridViewProperties.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.Properties.SelectionMode = GridLookupSelectionMode.Multiple;



        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowSelectCheckbox = true;
        settings.CommandColumn.ShowClearFilterButton = true;
        settings.CommandColumn.SelectAllCheckboxMode = GridViewSelectAllCheckBoxMode.None;


        settings.Columns.Add(column =>
        {
            column.FieldName = "USER_LOGINID";
            column.Caption = "Login Id";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(200);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "USER_NAME";
            column.Caption = "Parent Employee";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(200);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "DESIGNATION";
            column.Caption = "Degisnation";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(200);
        });

        settings.Properties.Caption = " ";
        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
        settings.Properties.SelectionMode = DevExpress.Web.GridLookupSelectionMode.Multiple;

        settings.Properties.TextFormatString = "{1}";
        settings.Properties.MultiTextSeparator = ", ";

        settings.Properties.Width = System.Web.UI.WebControls.Unit.Percentage(100);

        settings.GridViewProperties.CallbackRouteValues = new { Controller = "BranchwiseProductMapping", Action = "GetChildEmployeeList" };

        settings.GridViewProperties.Settings.ShowFilterRow = true;
        settings.GridViewProperties.Settings.ShowStatusBar = GridViewStatusBarMode.Visible;
        settings.GridViewProperties.SetStatusBarTemplateContent(c =>
        {

            ViewContext.Writer.Write("<div style=\"padding: 2px 8px 2px 0; float: right\">");
            Html.DevExpress().Button(btnSettings =>
            {
                btnSettings.Name = "btnDeSelectAllChild";
                btnSettings.UseSubmitBehavior = false;
                btnSettings.Text = "DeSelect All";
                btnSettings.ClientSideEvents.Click = "DeSelectAllGridLookupChild";

            }).Render();
            ViewContext.Writer.Write("</div>");
            ViewContext.Writer.Write("<div style=\"padding: 2px 8px 2px 0; float: right\">");
            Html.DevExpress().Button(btnSettings =>
            {
                btnSettings.Name = "btnSelectAllChild";
                btnSettings.UseSubmitBehavior = false;
                btnSettings.Text = "Select All";
                btnSettings.ClientSideEvents.Click = "SelectAllGridLookupChild";

            }).Render();
            ViewContext.Writer.Write("</div>");
        });

        settings.DataBound = (sender, e) =>
        {
            var gridLookup = (MVCxGridLookup)sender;
            gridLookup.GridView.Width = 300;
        };

        settings.PreRender = (s, e) =>
        {
            if (ViewBag.CHILDEMP_USERID != null)
            {

                foreach (var item in ViewBag.CHILDEMP_USERID)
                {
                    MVCxGridLookup l = s as MVCxGridLookup;
                    l.GridView.Selection.SelectRowByKey(item.USER_ID);

                }
            }
            //if (ViewBag.CONTENT_TOPICIDS != null)
            //{

            //    MVCxGridLookup l = s as MVCxGridLookup;
            //    l.GridView.Selection.SelectRowByKey(ViewBag.CONTENT_TOPICIDS);
            //    //l.GridView.Enabled = false;
            //}


        };

    }).BindList(Model).GetHtml()




