
@Html.DevExpress().GridLookup(
    settings =>
    {
        settings.Properties.Caption = "";
        settings.Properties.CaptionCellStyle.CssClass = "hide";
        settings.Name = "BranchGridLookup";
        settings.KeyFieldName = "branch_id";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

        settings.Properties.ClientInstanceName = "BranchGridLookup";
        settings.GridViewClientSideEvents.SelectionChanged = "BranchSelectionChanged";
        settings.Properties.ClientSideEvents.ValueChanged = "BranchSelectionChanged";
        settings.GridViewClientSideEvents.BeginCallback = "BranchStartCallback";
        settings.GridViewClientSideEvents.EndCallback = "BranchEndCallback";
        settings.CommandColumn.Width = System.Web.UI.WebControls.Unit.Pixel(20);
        settings.GridViewProperties.SettingsPager.PageSize = 10;
        settings.GridViewProperties.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50", "100" };
        settings.GridViewProperties.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.Properties.SelectionMode = GridLookupSelectionMode.Multiple;

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowSelectCheckbox = true;
        settings.CommandColumn.ShowClearFilterButton = true;
        settings.CommandColumn.SelectAllCheckboxMode = GridViewSelectAllCheckBoxMode.None;


        settings.Columns.Add(column =>
        {
            column.FieldName = "branch_code";
            column.Caption = "Code";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(200);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "branch_description";
            column.Caption = "Name";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(200);
        });
        settings.Properties.Caption = " ";
        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
        settings.Properties.SelectionMode = DevExpress.Web.GridLookupSelectionMode.Multiple;

        settings.Properties.TextFormatString = "{0}";
        settings.Properties.MultiTextSeparator = ", ";

        settings.Properties.Width = System.Web.UI.WebControls.Unit.Percentage(100);

        settings.GridViewProperties.CallbackRouteValues = new { Controller = "BranchwiseProductMapping", Action = "GetBranchList" };

        settings.GridViewProperties.Settings.ShowFilterRow = true;
        settings.GridViewProperties.Settings.ShowStatusBar = GridViewStatusBarMode.Visible;
        settings.GridViewProperties.SetStatusBarTemplateContent(c =>
        {

            ViewContext.Writer.Write("<div style=\"padding: 2px 8px 2px 0; float: right\">");
            Html.DevExpress().Button(btnSettings =>
            {
                btnSettings.Name = "btnDeSelectAll";
                btnSettings.UseSubmitBehavior = false;
                btnSettings.Text = "DeSelect All";
                btnSettings.ClientSideEvents.Click = "DeSelectAllGridLookupBranch";

            }).Render();
            ViewContext.Writer.Write("</div>");
            ViewContext.Writer.Write("<div style=\"padding: 2px 8px 2px 0; float: right\">");
            Html.DevExpress().Button(btnSettings =>
            {
                btnSettings.Name = "btnSelectAll";
                btnSettings.UseSubmitBehavior = false;
                btnSettings.Text = "Select All";
                btnSettings.ClientSideEvents.Click = "SelectAllGridLookupBranch";

            }).Render();
            ViewContext.Writer.Write("</div>");
        });

        settings.DataBound = (sender, e) =>
        {
            var gridLookup = (MVCxGridLookup)sender;
            gridLookup.GridView.Width = 310;
        };

        settings.PreRender = (s, e) =>
        {
            if (ViewBag.branch_id != null)
            {

                foreach (var item in ViewBag.branch_id)
                {
                    MVCxGridLookup l = s as MVCxGridLookup;
                    l.GridView.Selection.SelectRowByKey(item.branch_id);

                }
            }
            //if (ViewBag.CONTENT_TOPICIDS != null)
            //{

            //    MVCxGridLookup l = s as MVCxGridLookup;
            //    l.GridView.Selection.SelectRowByKey(ViewBag.CONTENT_TOPICIDS);
            //    //l.GridView.Enabled = false;
            //}


        };

    }).BindList(Model).GetHtml()

